<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>צפייה בגרף </title>
 
   <!-- import plugin script -->
   <script src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0'></script>
 
  
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 
</head>
<body>
    
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"> {{userdata[2]}}   , ברוך הבא </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">דף הבית
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item disable">
            <a class="nav-link" href="#">מידע</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/chat">צאט</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="/interview">מילוי שאלון</a>

            </li>
        
            <li class="nav-item">
                <a class="nav-link" href="/chart">צפייה בגרף</a>
              </li>
          

                  <li class="nav-item disable">
                        <a class="nav-link" href="#">בקשה לחופשה</a>
                      </li>
        </ul>
      </div>
    </div>
  </nav>



<br>
<br>
<br>
   
<!-- Messages-->
<div class="container">
     
      {% if MessgeError %}
      <div align="right">
      <h3 align="center" style="color:blue;">{{MessgeError}}</h3>
      </div>
      {% else %}
      <div align="right">
        <h2> ציונך לתאריך {{LastDate}}</h2>
        <h2> הינו {{lastScore}}</h2>
    


      {% if Message == 1%}

      <h2>כל הכבוד ! </h2>
      <br>
      <h2>נראה שאתה בכיוון הנכון </h2>

      <img src="/static/img/happySmile.jpg" style="width: 150px">

      {% else %}

        {%if Message == 0%}
      <h2>ציון נמוך </h2> <!--  or please fill message if bad-->
      <br>
      <h2>נראה שאתה בכיוון יורד </h2>

      <img src="/static/img/badsmile.jpg" style="width: 150px">

        {%else %}
        {% endif %}

      {% endif %}
    </div>

      {% endif %}

</div>



      <!-- Graph -->
    <div class="container">
      <canvas id="myChart" ></canvas>
    </div>
          
   <script>
   var ctx = document.getElementById("myChart").getContext("2d");

   var data = {
       labels : [{% for item in labels %}
                      "{{item}}",
                  {% endfor %}],
       datasets : [
          {
            label: 'התוצאות שלי',
                backgroundColor: 'rgb(255, 99, 132,0.2)',
                borderColor: 'rgb(255, 99, 132)',
                bezierCurve : true,
                data : [{% for item in values %}
                          {{item}},
                        {% endfor %}]
          }]
       }

   var stackedLine = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        scales: {
            yAxes: [{
                stacked: true,
                scaleLabel: {
                display: true,
                 labelString: 'נקודות'
                }
              
            }],

            xAxes: [{
                stacked: true,
                scaleLabel: {
                display: true,
                 labelString: 'תאריכים'
                }
              
            }]
        }
    }
});

   </script>
  
</body>
</html>