<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>Chart.js </title>
 
   <!-- import plugin script -->
   <script src='static/Chart.min.js'></script>
 
   <script src="https://www.chartjs.org/dist/2.7.1/Chart.bundle.js"></script>
   <script src="https://www.chartjs.org/samples/latest/utils.js"></script>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 
</head>
<body>
    
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"> {{userdata[2]}}   , ברוך הבא </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">דף הבית
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item disable">
            <a class="nav-link" href="#">מידע</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/chat">צאט</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="/interview">מילוי שאלון</a>

            </li>
        
            <li class="nav-item">
                <a class="nav-link" href="/chart">צפייה בגרף</a>
              </li>
          

                  <li class="nav-item disable">
                        <a class="nav-link" href="#">בקשה לחופשה</a>
                      </li>
        </ul>
      </div>
    </div>
  </nav>



<br>
<br>
<br>
   
     
      {% if MessgeError %}
      <div align="right">
      <h3 align="center" style="color:blue;">{{MessgeError}}</h3>
      </div>
      {% else %}
      <div align="right">
        <h2> ציונך לתאריך {{LastDate}}</h2>
        <h2> הינו {{lastScore}}</h2>
    


      {% if Message == 1%}

      <h2>כל הכבוד ! </h2>
      <br>
      <h2>נראה שאתה בכיוון הנכון </h2>

      <img src="/static/img/happySmile.jpg" style="width: 150px">

      {% else %}

        {%if Message == 0%}
      <h2>ציון נמוך </h2> <!--  or please fill message if bad-->
      <br>
      <h2>נראה שאתה בכיוון יורד </h2>

      <img src="/static/img/badsmile.jpg" style="width: 150px">

        {%else %}
        {% endif %}

      {% endif %}
    </div>

      {% endif %}

    
      
   
    <div style="width:100%;">
        <canvas id="canvas"></canvas>
    </div>
    <script>
        var config = {
            type: 'line',
            data: {
                xLabels: [
                  {% for item in labels %}
                    "{{item}}",
                  {% endfor %}
                ],
                yLabels: [ {% for item in range(100,-1,-1) %}
                    "{{item}}",
                  {% endfor %}],
                datasets: [{
                    label: "My First dataset",
                    data: [
                    {% for item in values %}
                      "{{item}}",
                    {% endfor %}
],
                    fill: true,
                    borderColor: window.chartColors.red,
                    backgroundColor: window.chartColors.red
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Chart with Non Numeric Y Axis'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'תאריכים'
                        }
                    }],
                    yAxes: [{
                        type: 'category',
                        position: 'left',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'ציונים'
                        },
                        ticks: {
                            reverse: true
                        }
                    }]
                }
            }
        };
 
        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };
    </script>
</body>
</html>