<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        
        <link rel="stylesheet" href="static/css/stylechat.css">
	</head>
	<!--Coded With Love By Mutiullah Samim-->
	<body>

   
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"> {{userdata[2]}}   , ברוך הבא </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
         
          <li class="nav-item disable">
            <a class="nav-link" href="#">מידע</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/chat">צאט</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="/interview">מילוי שאלון</a>

            </li>
        
            <li class="nav-item">
                <a class="nav-link" href="/chart">צפייה בגרף</a>
              </li>
          

                  <li class="nav-item disable">
                        <a class="nav-link" href="#">בקשה לחופשה</a>
                      </li>

                      <li class="nav-item active">
                        <a class="nav-link" href="/home">דף הבית
                              <span class="sr-only">(current)</span>
                            </a>
                      </li>
        </ul>
      </div>
    </div>
  </nav>


		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://www.clalit.co.il/he/article_images/hospitals/article/gehaLogo.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Chat with GEHA portal </span>
								
								</div>
								
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>	
						</div>
						<div class="card-body msg_card_body" id="chat_body">
							<div class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
									<img src="https://www.clalit.co.il/he/article_images/hospitals/article/gehaLogo.jpg" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									Hello {{userdata[2]}} , What can I help you ?
								
								</div>
                  </div>
                            


					
						
                        </div>
                        <form method="POST" name="myform" id="chatbot">
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"></span>
                                </div>
                                    <input id="input" class="form-control type_msg" placeholder="Type your message..."></input>
                                
								<div class="input-group-append">
									<span class="input-group-text send_btn">
                                    <button class="btn btn-link" type="submit" id="button-addon2"><i class="fas fa-location-arrow"></i></button>
                                    </i></span>
                                     
                                </div>

							</div>
                        </div>
                        </form>

                        <script>
                            $(document).ready(function(){
                    
                              $("#chatbot").submit(function(e) {
                    
                                e.preventDefault(); // avoid to execute the actual submit of the form.
                               
                                var input = $("#input").val();
                    
                                //$("#messages").append($("<li class='list-group-item border-0'>").text(input));
                    
                                AppendToChat(input,"human");


																var url = "http://127.0.0.1:5000/chatbot";
																
															
                                $.post(url,{data:input },function(data,status){ //ajax
                    
                                      AppendToChat(data,"bot");
                                });
                    
                               //scroll down

                    
                            });
                          });

                          function gotoBottom(id){
                            var element = document.getElementById(id);
                             element.scrollTop = element.scrollHeight - element.clientHeight;
                           }
                    
                          function AppendToChat(data,from)
                          {
                             if(from == "bot")
                             {
                                 var message = `<div class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
									<img src="https://www.clalit.co.il/he/article_images/hospitals/article/gehaLogo.jpg" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									`+data+`
								
								</div>
                            </div>`;

                            
                                $("#chat_body").append(message);

                             }
                             else // human
                             {
                                var message = `<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									`+data+`
								
								</div>
								<div class="img_cont_msg">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png" class="rounded-circle user_img_msg">
								</div>
                            </div>`;
                            
																$("#chat_body").append(message);

																$("#input").val("");

                             }

                             gotoBottom("chat_body");

                          }
                            
                            </script>

					</div>
				</div>
			</div>
        </div>
        

        
  
	</body>
</html>
