<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/bootstrap-slider.css" rel="stylesheet">
	<link href="static/css/bootstrap-slider.min.css" rel="stylesheet">

</head>
<body>
	



	
	<!-- 
	<h3>My slider</h3>

	<form action="/interview" method="POST">
	<div class="container">

	<input id="ex13" name="Q1" type="text" data-slider-ticks="[0, 100, 200, 300, 400]" data-slider-ticks-snap-bounds="100" data-slider-ticks-labels='["$0", "$100", "$200", "$300", "$400"]'/>

		<div>
	<button class="btn btn-primary" type="submit">Send now</button> -->
</div>
</div>

</form>

	<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type='text/javascript' src="static/js/bootstrap-slider.js"></script>



	<script>


// With JQuery
$("#ex13").slider({
    ticks: [0, 100, 200, 300, 400],
    ticks_labels: ['$0', '$100', '$200', '$300', '$400'],
    ticks_snap_bounds: 100
});
		
		</script>
		
		

</body>
</html>